<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>MS-PAF-MANAGER - Interface para upload de PDFs</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/download}" enctype="multipart/form-data">
                    <div class="form-group">
                        Arquivo: <input type="text" name="arquivo" class="form-control-text" value="proposta.pdf">
                    </div>
                    <div class="form-group">
                        Valor: <input type="text" name="valor" class="form-control-text">
                    </div>
                    <button type="submit" class="btn btn-primary">Gerar Proposta</button>
                </form>
                <span th:if="${msg != null}" th:text="${msg}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <a href="/v1/upload">Clique aqui para Upload de nova Proposta</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>